
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.csproj.AssemblyReference.cache
Net1704_221_8_VTETPlatform/VTET.Common/obj/Debug/net8.0/VTET.Common.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Common/obj/Debug/net8.0/VTET.Common.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.ConsoleApp/obj/Debug/net8.0/VTET.ConsoleApp.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.ConsoleApp/obj/Debug/net8.0/VTET.ConsoleApp.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.RazorWebApp/obj/Debug/net8.0/VTET.RazorWebApp.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.RazorWebApp/obj/Debug/net8.0/VTET.RazorWebApp.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/.vs/Net1704_221_8_VTETPlatform/v17/.suo
Net1704_221_8_VTETPlatform/.vs/Net1704_221_8_VTETPlatform/v17/DocumentLayout.json
Net1704_221_8_VTETPlatform/VTET.Business/bin/Debug/net8.0/VTET.Business.dll
Net1704_221_8_VTETPlatform/VTET.Business/bin/Debug/net8.0/VTET.Business.pdb
Net1704_221_8_VTETPlatform/VTET.Business/bin/Debug/net8.0/VTET.Data.dll
Net1704_221_8_VTETPlatform/VTET.Business/bin/Debug/net8.0/VTET.Data.pdb
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/ref/VTET.Business.dll
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/refint/VTET.Business.dll
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.csproj.AssemblyReference.cache
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.csproj.CoreCompileInputs.cache
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.csproj.FileListAbsolute.txt
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.dll
Net1704_221_8_VTETPlatform/VTET.Business/obj/Debug/net8.0/VTET.Business.pdb
Net1704_221_8_VTETPlatform/VTET.Common/obj/Debug/net8.0/VTET.Common.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Common/obj/Debug/net8.0/VTET.Common.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.ConsoleApp/obj/Debug/net8.0/VTET.ConsoleApp.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.ConsoleApp/obj/Debug/net8.0/VTET.ConsoleApp.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.Data/bin/Debug/net8.0/VTET.Data.dll
Net1704_221_8_VTETPlatform/VTET.Data/bin/Debug/net8.0/VTET.Data.pdb
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/ref/VTET.Data.dll
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/refint/VTET.Data.dll
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.AssemblyInfoInputs.cache
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.csproj.FileListAbsolute.txt
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.dll
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.genruntimeconfig.cache
Net1704_221_8_VTETPlatform/VTET.Data/obj/Debug/net8.0/VTET.Data.pdb
Net1704_221_8_VTETPlatform/VTET.RazorWebApp/obj/Debug/net8.0/VTET.RazorWebApp.AssemblyInfo.cs
Net1704_221_8_VTETPlatform/VTET.RazorWebApp/obj/Debug/net8.0/VTET.RazorWebApp.AssemblyInfoInputs.cache
