@page
@model VTET.RazorWebApp.Pages.NewFolder.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Watch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Watch.FullName" class="control-label"></label>
                <input asp-for="Watch.FullName" class="form-control" />
                <span asp-validation-for="Watch.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Type" class="control-label"></label>
                <input asp-for="Watch.Type" class="form-control" />
                <span asp-validation-for="Watch.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Picture" class="control-label"></label>
                <input asp-for="Watch.Picture" class="form-control" />
                <span asp-validation-for="Watch.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Price" class="control-label"></label>
                <input asp-for="Watch.Price" class="form-control" />
                <span asp-validation-for="Watch.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.EstimatePrice" class="control-label"></label>
                <input asp-for="Watch.EstimatePrice" class="form-control" />
                <span asp-validation-for="Watch.EstimatePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Condition" class="control-label"></label>
                <input asp-for="Watch.Condition" class="form-control" />
                <span asp-validation-for="Watch.Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Location" class="control-label"></label>
                <input asp-for="Watch.Location" class="form-control" />
                <span asp-validation-for="Watch.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Brand" class="control-label"></label>
                <input asp-for="Watch.Brand" class="form-control" />
                <span asp-validation-for="Watch.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.Status" class="control-label"></label>
                <input asp-for="Watch.Status" class="form-control" />
                <span asp-validation-for="Watch.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Watch.CustomerId" class="control-label"></label>
                <select asp-for="Watch.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
