@page
@model VTET.RazorWebApp.Pages.OrdersPage.DetailsModel
@{
    ViewData["Title"] = "Order Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />
<style>
    label {
        margin-top: 5px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .form-control-plaintext {
        font-size: 0.8rem;
        padding: 4px;
        margin-top: 2px;
    }

    .form-group {
        margin-bottom: 7px;
    }

    .btn {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }
</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="px-4 px-lg-5 container">
        <a class="navbar-brand" href="/HomePage">Order Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4 me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">Watch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Evaluation">Evaluation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrdersPage/Index">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/OrderDetailPage/Index">OrderDetail</a>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <span class="badge bg-dark text-white ms-1 rounded-pill">( ͡° ͜ʖ ͡°)</span>
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="text-center">
    <h1 class="display-6">Order Details</h1>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Order.Email">Email</label>
                <input asp-for="Order.Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.FullName">Full Name</label>
                <input asp-for="Order.FullName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.PhoneNumber">Phone Number</label>
                <input asp-for="Order.PhoneNumber" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.Date">Date</label>
                <input asp-for="Order.Date" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice">Total Price</label>
                <input asp-for="Order.TotalPrice" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.Customer">Customer</label>
                <input asp-for="Order.Customer.FullName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.Address">Address</label>
                <input asp-for="Order.Address" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.Notes">Notes</label>
                <textarea asp-for="Order.Notes" class="form-control" rows="3" readonly></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentMethod">Payment Method</label>
                <input asp-for="Order.PaymentMethod" class="form-control" readonly />
            </div>
            <div class="form-group">
                <a asp-page="./Edit" asp-route-id="@Model.Order.Id" class="btn btn-warning">EDIT</a>
                <a asp-page="./Index" class="btn btn-success">BACK TO LIST</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
}