@page
@model VTET.RazorWebApp.Pages.OrderDetailPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderDetail.Id" />
            <div class="form-group">
                <label asp-for="OrderDetail.WatchId" class="control-label"></label>
                <select asp-for="OrderDetail.WatchId" class="form-control" asp-items="@(ViewData["WatchId"] as SelectList)"></select>
                <span asp-validation-for="OrderDetail.WatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.OrderId" class="control-label"></label>
                <select asp-for="OrderDetail.OrderId" class="form-control" asp-items="@(ViewData["OrderId"] as SelectList)"></select>
                <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Price" class="control-label"></label>
                <input asp-for="OrderDetail.Price" class="form-control" />
                <span asp-validation-for="OrderDetail.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Amount" class="control-label"></label>
                <input asp-for="OrderDetail.Amount" class="form-control" />
                <span asp-validation-for="OrderDetail.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Discount" class="control-label"></label>
                <input asp-for="OrderDetail.Discount" class="form-control" />
                <span asp-validation-for="OrderDetail.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Tax" class="control-label"></label>
                <input asp-for="OrderDetail.Tax" class="form-control" />
                <span asp-validation-for="OrderDetail.Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.ShippingCost" class="control-label"></label>
                <input asp-for="OrderDetail.ShippingCost" class="form-control" />
                <span asp-validation-for="OrderDetail.ShippingCost" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="OrderDetail.ShipmentDate" class="control-label"></label>
                <input asp-for="OrderDetail.ShipmentDate" class="form-control" />
                <span asp-validation-for="OrderDetail.ShipmentDate" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="OrderDetail.EstimatedDeliveryDate" class="control-label"></label>
                <input asp-for="OrderDetail.EstimatedDeliveryDate" class="form-control" />
                <span asp-validation-for="OrderDetail.EstimatedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
